
div.container{
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    height: 50px;
    background: grey;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.button:hover {
    cursor: pointer;
}

.tick {
    color: white;
    transition: all .9s;
}
