<div class="container">
    <h1 class="item">RFID</h1>
    <input type="text" id="nombre" >
    <button class="item button tick" (click)="update()">Buscar</button>
</div>

<h3 class="item">Escriba el Id del empleado</h3>

<div class="container" *ngIf="data">
    <h2>Nombre del Empleado: {{ data.Nombre }}</h2>
    <h2>Ingresos</h2>
    <input type="date" id="fecha" name="ingreso-day" value="2021-04-27" min="2020-01-01" max="2021-12-31">
    <button class="item button tick" (click)="updateDate()">Actualizar</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="x">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ing of x">
            <td>{{ ing.Fecha }}</td>
            <td>{{ ing.hora }}</td>
        </tr>
    </tbody>
<table>
