<div class="container">
    <h1 class="item">RFID</h1>
    <button class="item button tick" href="http://localhost:4200">Actualizar</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="this.getJson()">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of this.getJson()">
            <td>{{ emp.id }}</td>
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.hora }}</td>
        </tr>
    </tbody>
<table>
