<h1>RFID</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="empleados">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Hora</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of ingresos">
            <td>{{ emp.id }}</td>
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.hora }}</td>
        </tr>
    </tbody>
<table>

|
